@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-family: Chewy, sans-serif;
    text-align: center;
    font-size: 24px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap; 
    flex: 800px;
    width: 800px;
    border: solid 1px black;
}

.grid-row {
    display: flex;
    flex: 0 0 800px;
}

.grid-element {
    border: solid 1px black;
    flex: auto;
}

.grid-size-text {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 24px;
}

.grid-size-selector {
    margin-bottom: 36px;
}
